<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LearnR</title>

    <script src="/js/jquery-2.0.0.min.js" defer></script>
    <script src="/js/footer.js" defer></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" defer></script>


    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/coursedesc-style.css">
    <script src="/js/logout.js" defer></script>
    <script src="/js/rating.js" defer></script>
    <script src="/js/enroll.js" defer></script>
    <script src="/js/tab.js" defer> </script>
     <script src="/js/post.js" defer> </script>
	<!-- include files necessary for the searchbar -->
	{{> searchbar_head }}

</head>
<body class="global_font container-fluid">
	{{> nav }}
	
	<div id="course-profile">
            <div class="course-banner">
                {{#if loggedIn}}
                   {{#unless isInstructor}}
                            {{#if enrolled}}
                                 <button id="unenroll" class="unenroll-btn">Un-Enroll </button> 
                            {{else}}
                                <button id="enroll" class="enroll-btn">Enroll </button>
                            {{/if}}
                    {{/unless}}
                {{/if}}
                <img alt="<course img>" src="{{imgPath}}">
                 <div class="banner-container">
                    
                <div id="course-title-box" class="standard-container">
                    <h1 class="standard-font course-title" style="font-size: {{titlefont}};">
                            
                        {{courseTitle}}
                        </h1>

                </div>

           
            <div class="standard-container quick-info">
                <div class="col-sm-4 qi-box">
                    <h3 class="standard-font">Instructor </h3>
                    <p class="standard-font"> {{instructor}} </p>
                </div>
                <div class="col-sm-4 qi-box">
                    <h3 class="standard-font">Rating </h3>
                    <p class="standard-font"> {{rating}}</p>
                </div>
                <div class="col-sm-4 qi-right-box">
                    <h3 class="standard-font">Enrollment </h3>
                    <p class="standard-font">{{enrollment}}</p>
                </div>

            </div>
        </div>
    </div>


            <div id="desc-content">

                <div id="course-nav" class="standard-font">
                      <ul class="nav nav-tabs">
                        <li class="active"> <a href="#course-desc"> Course Description </a> </li>
                        <li> <a href="#requirements"> Requirements </a> </li>
                        <li> <a href="#course-enrollment"> Current Course Enrollment </a> </li>
                        {{#if enrolled}} 
                             <li> <a href="#course-posts"> Course Posts </a> </li>
                        {{/if}}
                        {{#if isInstructor }}
                            <li> <a href="#course-posts"> Course Posts </a> </li>
                        {{/if}}
                    </ul>
                </div>
                <div class="tab-content">
                <div id="course-desc" class="tab-container tab-pane fade in active">
                    <!-- <h1 class="standard-font"> Course Description </h1> -->
                    <p class="standard-font"> 
                    	{{courseDesc}}
                    </p>
                </div>
                <div id="requirements" class="tab-container tab-pane fade">
                    <!-- <h1 class="standard-font"> Requirements </h1> -->
                    <p class="standard-font">
                        {{courseRequirements}}
                    </p>

                </div>

                <div id="course-enrollment" class="tab-container tab-pane fade">
                    <!-- <h1 class="standard-font"> Course Enrollment </h1> -->
                    {{#if students}}
                    <table class="table table-hover">
                        <thead>

                            <tr>
                                <th>Username</th>
                               
                            
                            </tr>
                        </thead>
                        <tbody>
                        	{{#each students}}
                            <tr>
                                <td> {{.}} </td>
                                
                            </tr>
                       	{{/each}}
                        </tbody>
                    </table>

                    {{else}}
                                <h1 class="standard-font post-container" style="text-align: center;"> :( </h1>
                            <h4 class="standard-font post-container" style="text-align: center;"> No one has enrolled yet </h4>
                    {{/if}}
                </div>

                {{#if enrolled}} 

                             <div id="course-posts" class="tab-container tab-pane fade">
                                {{#if anyposts}}
                                    {{#each posts}}
                                    <div class="standard-container post-container">
                                        <h4 class="standard-font"> Posted On {{timestamp}} </h4>
                                           <p class="standard-font"> {{post}} </p>
                                    </div>
                                    {{/each}}
                                {{else}}
                                        <h1 class="standard-font post-container" style="text-align: center;"> :( </h1>
                                    <h4 class="standard-font post-container" style="text-align: center;"> The instructor hasn't made any posts yet </h4>
                                {{/if}}
                             </div>
                {{/if}}
                
                {{#if isInstructor}}

                        <div id="course-posts" class="tab-pane fade">
                        <div class="post-container">
                            <h3 class="standard-font" style="text-align: center;"> Make a Post</h3>
                            <textarea id="post-input" class="form-control" maxlength = "1000" rows="3" placeholder="Type here... (1000 char limit)" autocomplete="off"></textarea>
                            <div id="post-msg" style="display: inline;"> </div>
                            <button id="post-btn" class="standard-blue-button post-btn"> Post </button>
                            </div>
                                {{#if anyposts}}
                                    {{#each posts}}
                                    <div class="standard-container post-container">
                                        <h4 class="standard-font"> Posted On {{timestamp}} </h4>
                                           <p class="standard-font"> {{post}} </p>
                                    </div>
                                    {{/each}}
                                {{else}}
                                        <h2 class="standard-font post-container" style="text-align: center;"> :( </h2>
                                    <h4 class="standard-font post-container" style="text-align: center;"> You haven't made any posts yet ! </h4>
                                {{/if}}
                             </div>

                {{/if}}
            </div>
                <div id="comments" class="standard-container course-container">

                    <div class="col-sm-12">
                        <h3 class="standard-font">Reviews and Ratings</h3>
                    </div>
                    <div id="review-content">
                    <!-- /col-sm-12 -->
                    {{#each reviews}}
                    <div class="col-sm-1">
                        
                            <div class="img-circle profile_circle" style="background-color:  {{dp}} ;">
                                    <h2 id="profile_letter" class="nomargin"> {{firstLetter}}</h2> </div>
                        
                        
                        <!-- /thumbnail -->
                    </div>
                    <!-- /col-sm-1 -->

                    <div class="col-sm-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{username}}</strong> <span class="text-muted">commented on {{postdate}}</span>
                                &nbsp;&nbsp;&nbsp;
                                  <strong>Rating: </strong> <span class="text-muted">{{rating}}/5</span>
                              
                            </div>
                            <div class="panel-body">
                                {{review}}
                            </div>
                            <!-- /panel-body -->
                        </div>
                        <!-- /panel panel-default -->
                    </div>
                    <!-- /col-sm-5 -->
                    {{/each}}
                </div>
                    {{#if loggedIn}}
                        {{#if Reviewed}}
                        <div class="reviewmsg"> 
                            <h4 class="standard-font"> You've aleady left a review for this course ! </h4> 
                             </div> 
                        {{else}} 
                                {{#if isInstructor}}
                                    <div class="reviewmsg"> 
                                     <h4 class="standard-font"> No one's left a review yet :( ! </h4>
                                    </div> 
                                {{else}}
                            <div class="add-comment">
                                <div class="col-sm-1">
                                   
                                       <div class="img-circle profile_circle" style="background-color: {{LIbackgroundColor}};">
                                            <h2 id="profile_letter" class="nomargin"> {{LIfirstLetter}} </h2> </div>
                         
                                    <!-- /thumbnail -->
                                </div>
                                <!-- /col-sm-1 -->
                                <div class="col-sm-11">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>{{LIname}}</strong>
                                        </div>
                                        <textarea id="reviewinput" class="form-control" rows="3" placeholder="Add your review here!"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-offset-1 col-sm-1">
                                    <button id="reviewsubmit" class="standard-blue-button" type="submit">Submit</button>
                                </div>
                                <div class="col-sm-offset-1 col-sm-5">
                                    <div class="stars">
                                        <span id="star1" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        <span id="star2" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        <span id="star3" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        <span id="star4" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        <span id="star5" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        <span id="rating"> </span>
                                        <div id="message"> </div>
                                    </div>
                                </div>
                            </div>
                                {{/if}}
                        {{/if}}
                    {{else}}
                    <div class="reviewmsg"> 
                     <h4 class="standard-font"> Oops! You have to be logged in to review a course ! <a href="">Log In </a> or <a href="">Sign Up!</a></h4>
                     </div> 

                    {{/if}}
                    <!-- add-comment -->
                </div>

            </div>
        </div>
        <div id="popup">
        </div>
        <footer>
            <ul>
                <li>
                    <a id="reference" class="no-underline" href="#"> Image References </a>
                </li>
            </ul>
            <div class="footer-logo">
            </div>
            <hr class="footer-line">
        </footer>
</body>
</html>