<!DOCTYPE html>
<html>

<!-- Head starts here. Define stylesheet and tottal width-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LearnR</title>

    <script src="/js/jquery-2.0.0.min.js" defer></script>
    <script src="/js/popups.js" defer></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" defer></script>


    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/admin_home.css">
    <link rel="stylesheet" type="text/css" href="/css/edit_user_profile_admin.css">
    <script src="/js/edit_user_profile_admin.js" defer></script>

</head>

<body class="global_font container-fluid">
    <header class="global_font">
        <a class="headerbar-title-anchor" href="/admin">
            <h1>LearnR</h1>
            <h2>Admin</h2>
        </a>

        <a id="logout-anchor" class="standard-clear-button" href="/admin/logout">Logout</a>
        <img src="/img/profile.png" alt="Profile" height="40" width="45" class="profile_icon">
        <h3 id="admin-username">{{adminUsername}}</h3>
    </header>

    {{#if message }}
    <div id="top-notification-message" role="alert">
        {{{message}}}
    </div>
    {{/if}} {{#if errorMessage }}
    <div id="error-message" class="alert alert-danger nomargin" role="alert">
        {{{errorMessage}}}
    </div>
    {{/if}}

    <img class="profilepage_img" src="/img/profile_background.jpg">
    <div id="{{background_color}}" class="img-circle profile_pic" height="150" width="150">
        <h2 id="profile_name" class="nomargin"> {{profile_name}} </h2>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <h2 class="standard-font"> {{name}} </h2>
        </div>
        <div class="col-md-5">
            <button id="changename_btn" type="button" value="{{userId}}" class="btn standard-green-button">Change Name</button>
            {{#unless isGoogleUser }}
            <button id="changepassword_btn" type="button" value="{{userId}}" class="btn standard-green-button">Change Password</button>
            {{/unless}}
            <button id="deleteuser_btn" type="button" value="{{userId}}" class="btn btn-danger standard-red-button">Delete Account</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
			{{#if classes}}
			   <h2 class="standard-font" style="margin-top: 55px">Enrolled Classes</h2></div>
		    {{else}}
			   <h2 class="standard-font" style="margin-top: 55px">Not Enrolled in any Classes</h2></div>
	        {{/if}}
        <div class="col-md-5"></div>
    </div>
    {{#each classes}}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="class_container">
                <div class="row">
                    <div class="col-md-10">
                        <div>
                            <h1 class="standard-title class_title">{{this.class_name}}</h1>
                        </div>
                        <div>
                            <h1 class="standard-title professor_title">{{this.instructor}}</h1>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <button value="{{this.id}}" type="button" class="btn btn-danger standard-red-button drop_course_btn">Remove</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}} {{> footer }}
</body>

</html>