<!DOCTYPE html>
<html>
	<!-- Head starts here. Define stylesheet and total width-->
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>LearnR</title>

	    <script src="/js/jquery-2.0.0.min.js" defer></script>
	    <script src="/js/index.js" defer></script>

		<!-- include files necessary for the searchbar -->
		{{> searchbar_head }}
	
	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	    <!-- Optional theme -->
	    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

	    <!-- Latest compiled and minified JavaScript -->
	    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->


	    <link rel="stylesheet" type="text/css" href="/css/style.css">
	    <script src="/js/logout.js" defer></script>

	</head>

	<!-- Body Start here, where content is. -->
	<body class="global_font container-fluid">
	    {{> nav }}

		{{#if errorContent}}
			<div id="error-message" class="alert alert-danger nomargin" role="alert">
				{{{errorContent}}}
			</div>
		{{/if}}
	
		<main class="row">
			<!-- if the user is logged in, show a feed of notifications -->
			{{#if loggedIn}}
			<aside id="notifications-feed" class="col-xs-12 col-md-4 col-lg-4">
				<p>notifications go here</p>
			</aside>
			<!-- otherwise, show a description of LearnR -->
			{{else}}
			<aside id="learnr-description" class="col-xs-12 col-md-4 col-lg-4">
				<h1>What is LearnR?</h1>
			
				<p> 
					LearnR is a site for everyone looking to learn something.
					Users can enrol in classes which interest them and even create their own classes to share their knowledge.
				</p>
				<p>
					Users will automatically be given a list of recommended classes,
					can explore what classes other users are taking,
					and can even search for classes by name, to find new classes to enrol in.
				<p>
				<p>
					Course descriptions, reviews and ratings help users decide on whether
					a course fits what they are looking for. And once enrolled, users
					can view all of the posts an instructor has made.
				</p>
				<p>
					LearnR also provides a social network between users in two ways:
				</p>
				<ul>
					<li>
						Messaging: users can message other users using the built-in IM system;
					</li>
					<li>
						Following: users can 'follow' users they share interests with
						so that they can receive notifications when the other user enrols in a course.
					</li>
				</ul>
			</aside>
			{{/if}}
	
			<!-- if the user is logged in, show a list of recommended classes -->
			{{#if loggedIn}}
				<section id="recommended-courses" class="class col-xs-12 col-md-4">
				{{#if recommendedClasses.length }}
					<h1 class="standard-title-top-course">Your Recommended Classes</h1>
					{{#each recommendedClasses}}
						<article class="well">
				            <p class="class-name text-primary">
			                    {{class_name}}
			                </p>
			                <p class="class-instructor">
			                    {{instructor}}
			                </p>
			                <div class="class-description">
			                    <p>
			                        TODO
			                    </p>
			                </div>
			                <a href="/course/{{class_id}}" class="standard-blue-button fullblock_btn" role="button">Class Page</a>
				        </article>
					{{/each}}
				<!-- though if there were no recommendations, show some help text -->
				{{else}}
					<p id="no-recommended-courses">Follow other users to be shown recommended classes!<p>
				{{/if}}
				</section>
			{{/if}}
	
			<!-- always show a list of the popular courses -->
			<section id="popular-courses" class="class col-xs-12 col-md-4">
				<h1 class="standard-title-top-course">Popular Classes</h1>
				{{#each popularClasses}}
			            <article class="well">
		                <p class="class-name text-primary">
		                    {{class_name}}
		                </p>
		                <p class="class-instructor">
		                    {{instructor}}
		                </p>
		                <div class="class-description">
		                    <p>
		                        TODO
		                    </p>
		                </div>
		                <a href="/course/{{class_id}}" class="standard-blue-button fullblock_btn" role="button">Class Page</a>
		            </article>
				{{/each}}
			</section>
			<!-- end of popular courses -->
		</main>

	    <div id="popup">
	    </div>
	    <footer>
	        <ul>
	            <li>
	                <a id="reference" class="no-underline" href="#"> Image References </a>
	            </li>
	        </ul>
	        <div class="footer-logo">
	        </div>
	        <hr class="footer-line">
	    </footer>
	</body>
</html>