<!DOCTYPE html>
<html>

<!-- Head starts here. Define stylesheet and tottal width-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LearnR</title>

    <script src="/js/jquery-2.0.0.min.js" defer></script>
    <script src="/js/index.js" defer></script>
	{{> searchbar_head }}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->


    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/logout.js" defer></script>

</head>

<!-- Body Start here, where content is. -->

<body class="global_font nomargin container-fluid">
    {{> nav }}

	{{#if errorContent}}
		<div id="error-message" class="alert alert-danger nomargin" role="alert">
			{{{errorContent}}}
		</div>
	{{/if}}
	
	{{#if loggedIn}}
		<section id="recommended-courses" class="row">
		{{#if recommendedClasses.length }}
			<h1 class="standard-title-top-course">Your Recommended Classes</h1>
			{{#each recommendedClasses}}
				<article class="class col-xs-12 col-md-{{../recommendedWellColumnSize}} col-lg-{{../recommendedWellColumnSize}}">
		            <div class="well">
		                <p class="class-name text-primary">
		                    {{class_name}}
		                </p>
		                <p class="class-instructor">
		                    {{instructor}}
		                </p>
		                <div class="class-description">
		                    <p>
		                        TODO
		                    </p>
		                </div>
		                <a href="/course/{{class_id}}" class="standard-blue-button fullblock_btn" role="button">Class Page</a>
		            </div>
		        </article>
			{{/each}}
		{{else}}
			<p id="no-recommended-courses">Follow other users to be shown recommended classes!<p>
		{{/if}}
		</section>
	{{/if}}
	
	<section id="popular-courses" class="row">
		<h1 class="standard-title-top-course">Popular Classes</h1>
		{{#each popularClasses}}
			<article class="class col-xs-12 col-md-{{../popularWellColumnSize}} col-lg-{{../popularWellColumnSize}}">
	            <div class="well">
	                <p class="class-name text-primary">
	                    {{class_name}}
	                </p>
	                <p class="class-instructor">
	                    {{instructor}}
	                </p>
	                <div class="class-description">
	                    <p>
	                        TODO
	                    </p>
	                </div>
	                <a href="/course/{{class_id}}" class="standard-blue-button fullblock_btn" role="button">Class Page</a>
	            </div>
	        </article>
		{{/each}}
	</section>
	<!-- end of popular courses -->

    <div id="popup">
    </div>
    <footer>
        <ul>
            <li>
                <a id="reference" class="no-underline" href="#"> Image References </a>
            </li>
        </ul>
        <div class="footer-logo">
        </div>
        <hr class="footer-line">
    </footer>
</body>

</html>